.app {
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 400;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 7px;
}

input, textarea, select {
    width: 100%;
    padding-inline: 0;
    padding-block: 8px;
    border: 1px solid rgb(214, 202, 30);
    box-sizing: border-box;
    display: inline-block; 
    resize: none;
    padding-left: 6px;
  }
input:focus, textarea:focus {
    outline: 1px solid rgb(214, 200, 0);
  }
h1 {
    font-weight: 600;
}
h2 {
    text-align: center;
    font-size: 14px;
    word-spacing: 0.1px;
    letter-spacing: 0.4px;
    font-weight: 400;
}
h3 {
    text-align: center;
}
h6 {
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: #9f0000;
}
.wrapper {
    padding: 20px;
    padding-bottom: 200px;
    border: 1px solid rgb(111, 180, 207);
}
nav {
    display: flex;
    margin-left: -15px;
    align-items: center;
    margin-bottom: 25px;
}
.btn {
    padding: 8px 24px;
    background: #fff;
    border: 1px solid rgb(160, 124, 160);
    cursor: pointer;
}
.btn:hover {
    background: rgb(254, 235, 255);
    transition: background .18s ease-in;
}
.btn:active {
    background-color: rgb(160, 124, 160);
    color: #fff;
    transition:
            border .18s ease-in,
            color .18s ease-in,
            background .18s ease-in;
}